<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	
	<listener>
	<!-- Spring 웹 애플리케이션 컨텍스트를 로드하기 위해 사용되는 ContextLoaderListener를 등록 -->
	<!-- Java 웹 애플리케이션에서 발생하는 이벤트를 처리하는 리스너를 등록하는 역할 -->
	
	
      <listener-class>
         org.springframework.web.context.ContextLoaderListener
     </listener-class>
     <!-- ContextLoaderListener는 Spring 웹 애플리케이션 컨텍스트를 로드하고, 
     		서블릿 컨텍스트의 생명주기에 맞추어 초기화 및 종료 작업을 수행 -->
     		
     <!-- 웹 애플리케이션이 시작될 때 ContextLoaderListener가 활성화되면, 
     	Spring 컨텍스트가 초기화되고 웹 애플리케이션 전반에 걸쳐 사용할 수 있는 빈(Bean)과 설정이 로드 -->
     	
     <!-- ContextLoaderListener를 등록함으로써 Spring 컨텍스트가 웹 애플리케이션과 통합되며,
     		 Spring의 DI(Dependency Injection) 및 IoC(Inversion of Control) 기능을 사용 -->
     	
   </listener>
   
   
	<context-param>
	
      <param-name>contextConfigLocation</param-name>
      
      <param-value>
          /WEB-INF/config/action-mybatis.xml
          <!-- 마이바티스 설정 파일을 읽어 들임 -->
          /WEB-INF/config/action-service.xml
      </param-value>
      
   </context-param>
	
	
	<servlet>
	
		<servlet-name>action</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
		
	</servlet>

	<servlet-mapping>
	
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
		
	</servlet-mapping>

</web-app>